html{
    width:100%;
    border:1px dotted green;
    display:flex;
}
body{
    padding: 5px;
    width:100%;
    flex:1;
    align-items: center;
    justify-content: center;
    border:1px dotted red;
    display:flex;
}
#main_container{
    display:flex;
    background-color: #DCDCDC;
    width:80%;
    margin:auto;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
#middle-section{
    display:flex;
    flex-direction: column;
    background-color: grey;
    margin:3%;
    margin-left: 3%;
    min-height:650px;
    width:100%;
}
#top-section{
    background-color: #D2D1CA;
    width:80%;
    margin: auto;
    align-items: center;
    justify-content: center;

}
#main-section{
    display: flex;
    flex-direction: column;
    background-color: deepskyblue;
    margin: 1%;
    height: 80%;
}
header{
    width:100%;
    height: 100%;
    background-color: blue;
    color:white;
    text-align: center;
    flex:1;
}
footer{
    background-color: blue;
    color:white;
    width:100%;
    text-align: center;
}
label,input{
    flex-shrink: initial;
    align-items: center;
}
label{
    font-size: small;
}
input{
    width:40%;
    align-items: center;
}
form{
    display:flex;
}
fieldset{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}
#table-render-space{
    background-color:coral;
    padding:10%;
    margin:5px;
    display: flex;     

}
#table-html-space{
    background-color: red;
    margin:5px;
    display:flex;
    flex:1;
}