table{
    border-style: dotted;
    margin:auto;
    margin-top: 5%;
    overflow:auto;
}
tr,td{
    border-style: solid;
}
.textHtml{
    min-width:95%;
    height:200px;
    margin-right: 5px;
    margin-top:20px;
    margin-left: 5px;
    margin-bottom: 20px;
    display:block;
    text-justify: left;
    border: 1px solid black;
    flex:1;
}
